<!--Список пользователей (админ)-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Список кондукторов</title>
</head>
<body>
<div layout:fragment="content">

    <a href="/admin/conductor/add" class="btn btn-primary" role="button" aria-disabled="true">Добавить</a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Почта</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Отчество</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
<!--        Перебор пользователей-->
        <tr th:each="user: ${users}">
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.middleName}"></td>
            <td>
                <a th:href="'/admin/user/delete/' + ${user.userId}" class="btn btn-primary" role="button" aria-disabled="true">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
